<head>
<title>A web page that points a browser to a different page after 2 seconds</title>
<meta http-equiv="refresh" content="5; URL=https://photogram-golden-seven-saudahmad.c9users.io/">
<meta name="keywords" content="automatic redirection">
</head>

<h1>You created a photo!</h1>

<p>
  There are now <%= @photo_count %> photos.
</p>

<p>
  <a href="/photos">Click here</a> to go back or you will be re-directed in 5 seconds.
</p>